@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');






body{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	background-color: white;
	height: 100vh;
	display: flex;
    flex-direction: column;
}









li, a , button {
    font-family: "Montserrat", sans-serif;
    font-weight:500;
    font-size:16px;
    color: #edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    border-style:solid;
    box-shadow: 2px 2px 20px black;
    border-left: 0px;
    border-top-width:0px;
    border-bottom-width:1px;
    
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-flex;
    padding: 0px 28px;
}


.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover  {
    color: #0088a9 ;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: transparent; 
}


.submenuabt{
    display: none;
    background: transparent;
    z-index: 1000;
    position:relative
   }
   
   .submenuabt ul li a {
       background: rgb(150, 143, 143);
      }
   
   
   .nav_links li:hover .submenuabt { 
       display: block;
       position: absolute;
       background: rgb(150, 143, 143);
       margin-top: 20px;
       margin-left: -15px;
   }
   
   .nav_links li:hover .submenuabt ul li {
       display:block;
       background: rgb(150, 143, 143);
       padding-top: 20px;
       padding-bottom: 20px;
   }






   .Convenient {
    color: white; 
    background-color: #24252A;
    opacity: 0.8;
    position: absolute; 
    top: 40%;
    margin-left: 100px;
}


.Convenient h4 {
    color: white;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 10px;
}

.Convenient p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}

.Services {
    color: white; 
    background-color: #24252A;
    opacity: 0.8;
    position: absolute; 
    top: 50%;
    margin-left: 1190px;
}

.Services:hover {
    background: black;
}


.Services h4 {
    color: white; 
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    padding: 10px;
}


.Services p {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    text-align: left;
    padding: 15px;
}



















   *,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:500px;
	position:relative;
	background:white;
    margin-top: 20px;
    margin-bottom: 220px;
    border-radius: 15px;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:140%;
	position:absolute;
    border-radius: 15px;
	padding:90px 70px 50px 70px;
	background:  #0088a9;
}
.login-html .sign-in-htm{
    top:2;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;

}
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}













footer{
    position:bottom;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}


.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}


.footer-bottom{
    width: 100vw;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
 }
 .footer-bottom p a{
   color:#44bae8;
   font-size: 16px;
   text-decoration: none;
 }
 .footer-bottom span{
     text-transform: uppercase;
     opacity: .4;
     font-weight: 200;
 }


 .footer-menu{
    float: right;
  }
  
  .footer-menu ul{
    display: flex;
  }
  
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  
  .footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
  }
  
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  