*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}
body , html{
    overflow-x: hidden;
}
/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: blue;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
.menu ul li a{
    text-decoration: none;
    color: #111;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.menu ul li a:hover{
    color: #40c9a2;
}
header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(lightgray,blueviolet);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: black;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
}
/* Products */
section{
    width: 80%;
    margin: 80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col img{
    width: 80%;
    border-radius: 10%;
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products .row{
    margin-top: 50px;
}
h4{
    font-size: 5vmin;
    color: #484872;
    margin: 20px auto;
}
p{
    color: black;
    padding: 0px 40px;
    font-size: 20px;
}
.products .ctn{
    margin-top: 30px;
}
body , html{
    overflow-x: hidden;
}
.highlights{
    width: 100%;
    height: 80vh;
}
.highlights img{
    width: 100%;
    background-size: cover;
    background-repeat: repeat-x;
}
.highlights-content {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}
.highlights-content .ctn{
    margin-top: 30px;
    padding: 0px 50px;
}
.footer {
    font-family: 'Segoe UI';
    font-weight: 400;
    padding: 40px 0;
    width: 100%;
    background-color: burlywood;
    min-height: 100px;
    margin: 0;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #333;
}



/* Mobile Device */
@media only screen and (max-width:850px){
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
}
/* Animations */
.row .col img{
    transition: transform .3s ease;
}
.row .col img:hover{
    transform: scale(1.1);
}
